<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>
		$(function(){
			//console.log('ready');
			$('#form1').submit(function(e){
				e.preventDefault();
				console.log('submit..');
				$.ajax({
					url:'/server/',
					method:'POST',
					data: $("#form1").serialize(),
					success: function(msg){
						//$("#response").append(msg + "<br>");
						console.log('encrypted msg: ' + msg);
						$.ajax({
							url:$("#client").val(),
							method:'POST',
							data: {'message': msg},
							success: function(msg2){
								$("#response").append(msg2 + ' (加密訊息:' + msg +  ')<br>');
							}
						})
					},
					error:function(){
						console.log('error');
						$("#response").html('erorr occurs');
					}
				});
				return false;
			});
		});
	</script>	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>
	<div class='container'>
		<h3>Python Encryption Demo</h3>
		<form id="form1" class="form-horizontal col-lg-6" role="form">
			{% csrf_token %}
			<div class='form-group'>
				<label class='col-sm-4 control-label'>Select car to connect:</label>
				<div class='col-sm-8'>
					<select id="client" class='form-control'>
						<option value='/client1/'>car 1</option>
						<option value='/client2/'>car 2</option>
						<option value='/client3/'>car 3</option>
					</select>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-4 control-label'>Select text to send:</label>
				<div class='col-sm-8'>
					<input type="text" name="message"/>
				</div>
			</div>
			<button id="submitBtn" class='btn btn-primary'>connect</button>
		</form>
		<div class='clearfix'></div>
		<hr>
		<div style="margin-left:20px;">
			
			<div id="response"></div>
		</div>
	</div>
</body>
</html>